.row
    .small-12.columns
        h2 {{child}}
.row
    .small-6.columns
        .row
            .small-12.columns
                h3 Create a room
                label(for='name') Name
                input#name(type='text', name='name', ng-model='room.name', required=true)
                label(for='password') Password
                input#password(type='password', name='password', ng-model='room.password')
                button.success.tiny.radius(ng-click='addRoom(room)') Add

        .row
            .small-12.columns
                h3 Room List
                table#rooms
                    thead
                        tr
                            th Owner of Room
                            th Room Name
                            th Password
                            th Join
                    tbody
                        tr(ng-repeat='room in rooms')
                            td: img(ng-src='{{room.avatar}}')
                            td {{room.name}}
                            td: input(type='password', ng-model='password')
                            td: button.tiny.alert.radius(ng-click='join(room)') Join

    .small-6.columns
        h3 Chat it Up!
        #messages.panel.callout.radius
            .message(ng-repeat='message in messages')
            .avatar(style='background-image:url("{{message.avatar}}")')
            .content {{message.content}}
        input#message(type='text', ng-model='message')
        button.success.tiny.radius(ng-click='chat(message)') Send Message
