.row
    .small-12.columns
        h2 {{child}}
.row
    .small-8.columns
        h3 Create a room
        h3 Room List
    .small-4.columns
        h3 Chat it Up!
        #messages.panel.callout.radius
        input(type='text', ng-model='message')
        button.success.tiny.radius(ng-click='chat(message)') Send Message